@import '../App.scss';

.namespace-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-header {
    margin-bottom: 12px;
}

.table-data {
    text-align: left;
}
