// @import "./scss/custom.scss";

$app-header-background: yellowgreen;
$app-footer-background: yellowgreen;

$breakpoint_xxxs: 320px;
$breakpoint_xxs: 400px;
$breakpoint_xms: 500px;
$breakpoint_xs: 600px;
$breakpoint_md: 960px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 1920px;


$app-padding: 36px;

.flex-container {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

.mobile-only {
  display: block;

  @media screen and (min-width: $breakpoint_xs) {
    display: none;
  }
}
.desktop-only {
  display: none;

  @media screen and (min-width: $breakpoint_xs) {
    display: block;
  }
}

.w-100 {
  width: 100%;
  
}

.header {
  padding: 12px;
  background-color: lightgrey;
}